$base-color: rgb(180, 67, 124)
// $color-light: rgba($base-color, 0.20)
$color-light: lighten($base-color, 40%)
$color-dark: darken($base-color,20%)

$ff-std: 'Mochiy Pop One'
$fs-presentation : 1.2rem

/*PADDING / MARGIN*/
$list-spacing: ("std":5px, "lg": 8px, "title": 40px)

/*BREAKPOINTS*/
$grid-bpoints: ("xs": 0, "sm": 576px, "md": 768px, "lg": 992px,"xl": 1170px,"xxl": 1400px)

/*NAVBAR*/
$navbar-height : 120px

/*CARD*/
$avatar: 75px

