.activites__contact
   display: flex
   flex-direction: column
   text-align: end
   align-content: flex-end
   font-size: $fs-presentation

.activites__main
   padding: map-get($list-spacing, "std")
   display: flex
   justify-content: center
   align-content: center
   flex-direction: column

.activites__title
   color: $color-base
   text-align: center
   font-family: $ff-std
   margin: map-get($list-spacing, "title")

.activites__description
   text-align: center
   font-size : $fs-presentation